* {
  list-style: none;
}

body {
  padding-top: 5rem;
}

label {
  display: block;
  margin-top: 1em;
}

input {
  border: 1px solid #c0c0c0;
  width: 52%;
}

textarea {
  resize: none;
}
#submit {
  border: none;
  margin-top: 1em;
  padding: 0.45em 1.7em;
  border-radius: 5px;
  color: #ffffff;
  background-color: #222222;
}
